.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .description {
      flex: 0 0 calc(60% - 20px); /* Adjust the width as needed */
      margin-left: 20px;

      .title {
        font-size: 2rem;
      }

      .paragraph {
        font-size: 1.3rem;
        font-family: "Gotham-Book", sans-serif;
      }
    }

    .image {
      flex: 0 0 100%;
      margin-top: 20px;

      img {
        width: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      flex-direction: row-reverse;

      .description {
        flex: 0 0 calc(40% - 20px); /* Adjust the width as needed */
        margin-left: 20px;
      }

      .image {
        flex: 0 0 60%; /* Adjust the width as needed */
        margin-top: 0;
      }
    }
  }
}
